*.bak
*.bck
/out/
/temp/
.dep/
*.swp
*-backups/
*-cache.lib
*-rescue.lib
*.kicad_pcb-bak
*.kicad_wks
*.net
*.lib
*.mod
*.dcm
*-job.gbrjob
rescue-backup/
kicad/*/*.pretty/
fp-info-cache
_autosave-*.kicad_pcb
_autosave-*.sch
*-bak
*.gbr
fp-lib-table
sym-lib-table
*.zip
*.csv
gerber/
Gerber/
\#auto_saved_files#
